### Assignment 1

## 1. Setup

In [2]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

np.random.seed(1)

In [3]:
# importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from xgboost import XGBClassifier
from sklearn import model_selection
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, plot_roc_curve, roc_auc_score, roc_curve, auc, RocCurveDisplay, PrecisionRecallDisplay, precision_recall_curve

%matplotlib inline

## 2. Load the Data

In [5]:
#loading the dataset
df= pd.read_csv("C:/Users/srihi/DSP/data/thyroid.csv")

In [6]:
df.head(10)

,Age,Sex,On_thyroxine,Query_on_thyroxine,On_antithyroid_medication,Sick,Pregnant,Thyroid_surgery,I131_treatment,Query_hypothyroid,...,Goitre,Tumor,Hypopituitary,Psych,TSH,T3,TT4,T4U,FTI,Class
0,0.73,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0.00060,0.015,0.120,0.082,0.146,3
1,0.24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.030,0.143,0.133,0.108,3
2,0.47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00190,0.024,0.102,0.131,0.078,3
3,0.64,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00090,0.017,0.077,0.090,0.085,3
4,0.23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.026,0.139,0.090,0.153,3
5,0.69,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.016,0.086,0.070,0.123,3
6,0.85,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.023,0.128,0.104,0.121,3
7,0.48,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00208,0.020,0.086,0.078,0.110,3
8,0.67,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0.00130,0.024,0.087,0.109,0.080,3
9,0.62,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0.01100,0.008,0.073,0.074,0.098,2

### Exploring Data

In [7]:
# Explore the dataset
print(df.columns)
print("--------------------------------------------------------------------------------")
print(df.describe())
print("---------------------------------------------------------------------------------")
print(df.info())

Index(['Age', ' Sex', ' On_thyroxine', ' Query_on_thyroxine',
       ' On_antithyroid_medication', ' Sick', ' Pregnant', ' Thyroid_surgery',
       ' I131_treatment', ' Query_hypothyroid', ' Query_hyperthyroid',
       ' Lithium', ' Goitre', ' Tumor', ' Hypopituitary', ' Psych', ' TSH',
       ' T3', ' TT4', ' T4U', ' FTI', 'Class'],
      dtype='object')
--------------------------------------------------------------------------------
               Age          Sex   On_thyroxine   Query_on_thyroxine  \
count  7200.000000  7200.000000    7200.000000          7200.000000
mean      0.520518     0.304306       0.130556             0.015417
std       0.189269     0.460145       0.336937             0.123212
min       0.010000     0.000000       0.000000             0.000000
25%       0.370000     0.000000       0.000000             0.000000
50%       0.550000     0.000000       0.000000             0.000000
75%       0.670000     1.000000       0.000000             0.000000
max       0.970000     1.000000       1.000000             1.000000

        On_antithyroid_medication         Sick     Pregnant   Thyroid_surgery  \
count                 7200.000000  7200.000000  7200.000000       7200.000000
mean                     0.012778     0.038333     0.010833          0.014028
std                      0.112322     0.192013     0.103525          0.117613
min                      0.000000     0.000000     0.000000          0.000000
25%                      0.000000     0.000000     0.000000          0.000000
50%                      0.000000     0.000000     0.000000          0.000000
75%                      0.000000     0.000000     0.000000          0.000000
max                      1.000000     1.000000     1.000000          1.000000

        I131_treatment   Query_hypothyroid  ...       Goitre        Tumor  \
count      7200.000000         7200.000000  ...  7200.000000  7200.000000
mean          0.016806            0.065556  ...     0.008194     0.025556
std           0.128551            0.247521  ...     0.090158     0.157816
min           0.000000            0.000000  ...     0.000000     0.000000
25%           0.000000            0.000000  ...     0.000000     0.000000
50%           0.000000            0.000000  ...     0.000000     0.000000
75%           0.000000            0.000000  ...     0.000000     0.000000
max           1.000000            1.000000  ...     1.000000     1.000000

        Hypopituitary        Psych          TSH           T3          TT4  \
count     7200.000000  7200.000000  7200.000000  7200.000000  7200.000000
mean         0.000139     0.048889     0.004861     0.019977     0.109430
std          0.011785     0.215651     0.022979     0.007539     0.035969
min          0.000000     0.000000     0.000000     0.000500     0.002000
25%          0.000000     0.000000     0.000710     0.017000     0.089000
50%          0.000000     0.000000     0.001700     0.020100     0.107000
75%          0.000000     0.000000     0.002700     0.022000     0.125000
max          1.000000     1.000000     0.530000     0.180000     0.600000

               T4U          FTI        Class
count  7200.000000  7200.000000  7200.000000
mean      0.097838     0.113215     2.902778
std       0.019085     0.036098     0.365923
min       0.017000     0.002000     1.000000
25%       0.087000     0.095000     3.000000
50%       0.097000     0.111000     3.000000
75%       0.104000     0.127000     3.000000
max       0.233000     0.642000     3.000000

[8 rows x 22 columns]
---------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7200 entries, 0 to 7199
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         7200 non-null   float64
 1    Sex                        7200 non-null   int64
 2    On_thyroxine               7200 non-null   int64
 3    Query_on_thyroxine         7200 non-null   int64
 4    On_antithyroid_medication  7200 non-null   int64
 5    Sick                       7200 non-null   int64
 6    Pregnant                   7200 non-null   int64
 7    Thyroid_surgery            7200 non-null   int64
 8    I131_treatment             7200 non-null   int64
 9    Query_hypothyroid          7200 non-null   int64
 10   Query_hyperthyroid         7200 non-null   int64
 11   Lithium                    7200 non-null   int64
 12   Goitre                     7200 non-null   int64
 13   Tumor                      7200 non-null   int64
 14   Hypopituitary              7200 non-null   int64
 15   Psych                      7200 non-null   int64
 16   TSH                        7200 non-null   float64
 17   T3                         7200 non-null   float64
 18   TT4                        7200 non-null   float64
 19   T4U                        7200 non-null   float64
 20   FTI                        7200 non-null   float64
 21  Class                       7200 non-null   int64
dtypes: float64(6), int64(16)
memory usage: 1.2 MB
None

### Data Cleaning

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.columns = df.columns.str.lower()
df.head(5)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,i131_treatment,query_hypothyroid,...,goitre,tumor,hypopituitary,psych,tsh,t3,tt4,t4u,fti,class
0,0.73,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0.00060,0.015,0.120,0.082,0.146,3
1,0.24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.030,0.143,0.133,0.108,3
2,0.47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00190,0.024,0.102,0.131,0.078,3
3,0.64,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00090,0.017,0.077,0.090,0.085,3
4,0.23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.026,0.139,0.090,0.153,3

In [10]:
df['class'].unique()

array([3, 2, 1], dtype=int64)

In [11]:
from sklearn.preprocessing import StandardScaler
#splitting the data into X,y 
X = df.drop('class', axis=1)
y = df['class']

# Spliting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

# Initialise the scaler
sclr = StandardScaler()

# Fit the scaler to the training set
sclr.fit(X_train)

# Transform the training and testing sets
X_train = sclr.transform(X_train)
X_test = sclr.transform(X_test)

In [12]:
performance = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})
performance

Empty DataFrame
Columns: [model, Accuracy, Precision, Recall, F1]
Index: []

In [13]:
log_reg_model = LogisticRegression( max_iter=900)
_ = log_reg_model.fit(X_train, np.ravel(y_train))

In [14]:
model_preds = log_reg_model.predict(X_test)
c_matrix = confusion_matrix(y_test, model_preds)
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"default logistic", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance

              model  Accuracy  Precision   Recall        F1
0  default logistic  0.873418   0.816327  0.97561  0.888889

In [15]:
TP

40

In [16]:
TN

29

In [17]:
FP

9

In [18]:
FN

1

In [25]:
hyperparam= {'C':[0.001, 0.01, 0.1, 1, 10, 100],
                      'penalty':['l2', 'l1']
                     }

score_measure = "recall"
#create a logistic regression model
logistic_model = LogisticRegression()

#create a random search cv object
random_search = RandomizedSearchCV(estimator=logistic_model,
                                     param_distributions=hyperparam,
                                     cv=5,scoring=score_measure,
                                     n_iter=10,
                                     n_jobs=-1,
                                   )

_ = random_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {random_search.best_score_}")
print(f"... with parameters: {random_search.best_params_}")

bestRecallTree = random_search.best_estimator_

The best recall score is nan
... with parameters: {'penalty': 'l2', 'C': 10}

In [26]:
c_matrix = confusion_matrix(y_test, random_search.predict(X_test))
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]

performance = pd.concat([performance, pd.DataFrame({'model':"LogReg - RandomCV", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance

               model  Accuracy  Precision    Recall        F1
0   default logistic  0.873418   0.816327  0.975610  0.888889
0  LogReg - RandomCV  0.882353   0.836364  0.978723  0.901961
0  LogReg - RandomCV  0.882353   0.836364  0.978723  0.901961

In [21]:
TP

46

In [22]:
TN

29

In [23]:
FP

9

In [24]:
FN

1

In [29]:
TP

114

In [30]:
TN

38

In [31]:
FP

0

In [32]:
FN

0